﻿@{
  Layout = "";
  var returnUrl = ViewData["ReturnUrl"] as string;
  var error = TempData["Error"] as string;
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Juan Pablo Nuño Zepeda">
    <title>school Permission System Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">

<main class="form-signin">
  <form action = "/Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <img class="mb-4" src="/logo.png" alt="" width="100" >
    <h1 class="h3 mb-3 fw-normal">School Permissions System</h1>
    <h4 class="h4 mb-4 fw-normal">Please log in</h4>

    <div class="checkbox mb-3">
      @if(!string.IsNullOrEmpty(error))
      {
        <div class="alert alert-warning alert-dismissible fade show">
          <strong>Warning! </strong>@error
        </div>
      }
    </div>

    <div class="form-floating">
      <!--- TODO: Change to email address --->
      <input type="text" class="form-control" id="floatingInput" placeholder="email" name="username">
      <label for="name">Email Address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="pass">Password</label>
    </div>

    <!---
      <div class="checkbox mb-3">
      <label>
      <input type="checkbox" style="background-color:#FFFFFF !important;" value="remember-me"> Remember me
      </label>
      </div>
      --->

    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
    <p class="mt-5 mb-3 text-muted">&copy; Juan Pablo Nuño Zepeda 2021</p>
  </form>
</main>

    <script src="/js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="/dashboard.js"></script>
  </body>
</html>
