﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn @DateTime.Now about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <tbody>
    @foreach (string name in ViewBag.Message)
    {
    <tr><td>@name</td></tr>
    }
    </tbody>
</div>
