﻿@{
}

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Tipo de permiso</th>
        <th>Petición</th>
        <th>Permiso</th>
        <th>Motivo</th>
        <th>Numero de dias</th>
        <th>Aprobado</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var permission in ViewBag.Permissions)
      {
      <tr>
        <td>@permission.PermissionType.Description</td>
        <td>@permission.AskDate>
        <td>@permission.PermissionDate</td>
        <td>@permission.Motive</td>
        <td>@permission.NumberOfDays</td>
        <td>@permission.Aproved</td>
      </tr>
      }
    </tbody>
  </table>
