﻿@{
    var image = ViewData["Img"] as string;
    var birthDate = ViewData["BD"] as string;
    var entryDate = ViewData["ED"] as string;
    var departament = ViewData["departament"] as string;
    var employeeType = ViewData["employeeType"] as string;
    var campus = ViewData["campus"] as string;
}

    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto text-center">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="data:image/png;base64,@image" alt="Circle Image" class="img-raised rounded-circle img-fluid center">
	                        </div>
                          <div class="name">
                            <h3 class="title">@(User.Identity.Name+ " " +User.FindFirst(ClaimTypes.Surname).Value)</h3>
                            <h4>@User.FindFirst(ClaimTypes.Email).Value</h4>
                            <h6>Birth Date in @birthDate</h6>
                            <h6>Hiring Date in @birthDate</h6>
                            <h6>Campus @campus</h6>
                            <h6>Departament of @departament</h6>
                            <h6>Employee Role @employeeType</h6>
                            <a href="mailto:@User.FindFirst(ClaimTypes.Email).Value" class="btn btn-just-icon btn-link btn-email"> <span data-feather="send"></span> </a>
                          </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                <span data-feather="edit"></span>
                                Editar
                              </a>
                            </li>
                            <!---
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                  <i class="material-icons">palette</i>
                                    Work
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                  <i class="material-icons">favorite</i>
                                    Favorite
                                </a>
                            </li>
                            --->
                          </ul>
                        </div>
    	    	</div>
            </div>

          <div class="tab-content tab-space">
            <div class="tab-pane active text-center gallery" id="studio">
  				<div class="row">
  					<div class="col-md-3 ml-auto">
  					</div>
  				</div>
  			</div>
            <div class="tab-pane text-center gallery" id="works">
      			<div class="row">
      				<div class="col-md-3 ml-auto">
      				</div>
      			</div>
  			</div>
            <div class="tab-pane text-center gallery" id="favorite">
      			<div class="row">
      				<div class="col-md-3 ml-auto">
      			    </div>
      			</div>
      		</div>
          </div>


            </div>
        </div>
	</div>

	<footer class="footer text-center ">
    </footer>

    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
