@page
<!-- GET, POST, DELETE, OnGet, OnPost, OnDelete -->
@functions
{
  public string DayName { get; set; }
  public void OnGet()
  {
    ViewData["Title"] = "Northwind Website";
    Model.DayName = DateTime.Now.ToString("yyyy");
  }
}
    <div class="jumbotron">
      <h1 class="display-3">Welcome to Secured!</h1>
      <p class="lead">This is top secret.</p>
      <hr />
      <p>It's @Model.DayName! Our customers include restaurants, hotels, and cruise lines.</p>
      <p>
        <a class="btn btn-primary"
          href="/login">Sign in</a>
      </p>
    </div>
