@page
@model SchoolWeb.Pages.EmployeesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class = "row">
    <h1 class="display-2">Departaments</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Departament Name</th></tr></thead>
        <tbody>
            @foreach (string name in Model.Departaments)
            {
                <tr><td>@name</td></tr>
            }
        </tbody>
    </table>
</div>
<div class = "row">
<p>@DateTime.Now</p>
</div>
<div class = "row">
    <p>Enter a name for a new departament : </p>
    <form method="POST">
        <div><input asp-for="Departament.DepartamentName"></div>
        <input type="submit">
    </form>
</div>
